# Core Libraries
streamlit
pandas==2.2.2
numpy==1.26.4
matplotlib
scipy
scikit-learn==1.4.2
statsmodels==0.14.2

# Time Series Forecasting Libraries
pmdarima
yfinance
tbats

# Complex TS (pystan MUST be installed before prophet)
pystan==2.19.1.1 
prophet

# Portfolio Optimization Library
pyportfolioopt

# Machine Learning Libraries
xgboost
lightgbm

# API and Utilities
requests
huggingface-hub
pypdf
