# Dependencias de compilación primero
numpy>=1.21.2
cython>=0.29,!=0.29.18,!=0.29.31
setuptools>=38.6.0,!=50.0.0
packaging>=17.1

# pmdarima y sus otras dependencias
pmdarima==2.0.4 # Fija la versión si sabes que esta es la que quieres
statsmodels>=0.13.2 # pmdarima ya lo pide, pero ser explícito no daña
scipy>=1.3.2       # ""
scikit-learn>=0.22 # ""
pandas>=0.19       # ""
joblib>=0.11       # ""
urllib3            # ""

# Resto de tus dependencias
streamlit
matplotlib
yfinance
requests
prophet
PyPortfolioOpt
